/* 
    Created on : 19 nov. 2014, 13:30:55
    Author     : rosay
*/

body{
	height:100%;
}

#footer_reducted{
	position:fixed;
	line-height:50px;
	width:100%;
	bottom:0px;
	margin-bottom:0px;
}

#footer_full{
	width:100%;
	margin-bottom:0px;
	position:fixed;
	bottom:0px;
}

div.clean{
	height:60px;
}

footer{
	color:#8c8c8c;
	text-align:justify;
	font-size:8pt;
}